.checkbox-wrapper input[type='checkbox']:checked + label {
    color: black;
    background-color: white;
    border: 2px solid black;
  }
  
  .checkbox-wrapper input[type='checkbox'] {
    position: absolute;
    left: -10000px;
  }
  
  .checkbox-wrapper label {
    width: 100px;
    height: 30px;
    padding: 10px;
    background-color: rgb(48, 17, 121);
    border: 2px solid;
    border-radius: 10px;
    color: white;
    text-align: center;
    line-height: 30px;
    font-family: Tangerine, Arial;
    user-select: none;
  }

  