.grid-wrapper{
    display: grid;
    grid: 1fr 2fr 2fr 1.5fr /1fr 1fr 1fr ;
    gap:5px;
}

.header{
    grid-column: 1/4;
}

.sidebar{
    grid-row:2/4;
}
.content-1{
    grid-column: 2/4;
}
.footer{
    grid-column: 1/4;
}

.grid-wrapper>*{
    background-color: aqua;
    text-align: center;
}