.red{
    background-color: red;
    position: absolute;
    bottom:0px;
    left:0px
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}

.container>div{
    width: 200px;
    height: 200px;
}
.container{
    background-color: bisque;
}