.item-a {
  grid-area: header;
  background-color: blue;
}
.item-b {
  grid-area: main;
  background-color: red;

}
.item-c {
  grid-area: sidebar;
  background-color: yellow;

}
.item-d {
  grid-area: footer;
  background-color: green;

}

.container {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer";
    column-gap: 10px;
    row-gap: 15px;
}