.parent {
    display: flex;
    height: 30%; /* Or whatever */
    width: 30%;
    background-color: bisque;
  }
  
.child {
    background-color: red;
    width: 100px;  /* Or whatever */
    height: 100px; /* Or whatever */
    margin: auto;  /* Magic! */
  }
